@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  background-color: #2b2e3b;
  color: #fff;
  padding: 1em;
}

form {
  padding: 1em;
}

.jumbotron {
  color: #2b2e3b;
}

ul > li {
  color: #2b2e3b;
}

i {
  color: #2b2e3b;
}

img {
  height: 40px;
  width: auto;
}

span > i {
  color: #fff;
}

.card-title,
.card-text {
  color: #333;
  font-family: 'Pacifico', cursive;
}
